/* ---------------------------------------------------- */
/*		Général
/* ---------------------------------------------------- */
/* line 5, ../sass/main.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 9, ../sass/main.scss */
.left {
  float: left;
}

/* line 12, ../sass/main.scss */
.right {
  float: right;
}

/* line 16, ../sass/main.scss */
.message {
  color: #5c9270;
  padding: 5px 10px;
  font-style: italic;
  margin: 20px auto;
  border: 1px solid #5c9270;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #d6e6dc;
}

/* line 25, ../sass/main.scss */
.errorMessage {
  color: #c72333;
  padding: 5px 10px;
  font-style: italic;
  margin: 20px auto;
  border: 1px solid #c72333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #f9c5ca;
}

/* line 34, ../sass/main.scss */
.error {
  color: red;
  font-size: 0.9em;
  font-style: italic;
}

/* line 39, ../sass/main.scss */
h1 {
  color: #444;
  font-size: 2em;
  text-shadow: 1px 1px 1px white;
  border-bottom: 1px solid #ddd;
}

/* line 45, ../sass/main.scss */
h2 {
  color: #444;
  font-size: 1.7em;
  text-shadow: 1px 1px 1px white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

/* line 52, ../sass/main.scss */
p {
  font-size: 0.9em;
  color: #444;
  font-style: italic;
}

/* line 57, ../sass/main.scss */
button {
  border: none;
  background: #ddd;
  margin: 10px;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
}
/* line 62, ../sass/main.scss */
button a {
  color: #444!important;
  font-size: .8em;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
  display: block;
  padding: 5px;
}
/* line 69, ../sass/main.scss */
button a:hover {
  color: #f2871c!important;
}

/* line 74, ../sass/main.scss */
button.commande {
  background-color: #f2871c;
}
/* line 76, ../sass/main.scss */
button.commande a {
  color: #FFF!important;
  text-shadow: 1px 1px 1px #999999;
}
/* line 79, ../sass/main.scss */
button.commande a:hover {
  color: #444!important;
  text-shadow: 1px 1px 1px white;
}

/* line 85, ../sass/main.scss */
body {
  background-color: #EEE;
}

/* line 88, ../sass/main.scss */
.required:after {
  color: red;
  content: '*';
}

/* line 92, ../sass/main.scss */
.information {
  font-size: .7em;
  color: #444;
}

/* ---------------------------------------------------- */
/*		Top header
/* ---------------------------------------------------- */
/* line 100, ../sass/main.scss */
#topheader {
  background-color: #ddd;
  height: 20px;
}
/* line 103, ../sass/main.scss */
#topheader ul {
  margin: 0;
  float: right;
}
/* line 107, ../sass/main.scss */
#topheader ul li {
  background-color: #f2871c;
  list-style: none;
  float: left;
  border-right: 1px solid #FFF;
}
/* line 112, ../sass/main.scss */
#topheader ul li a {
  display: block;
  color: #FFF;
  font-size: 0.8em;
  padding: 3px 10px;
  text-decoration: none;
}
/* line 119, ../sass/main.scss */
#topheader ul li:first-child {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
/* line 120, ../sass/main.scss */
#topheader ul li:last-child {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  -o-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
  border: none;
}
/* line 122, ../sass/main.scss */
#topheader ul li:hover a {
  color: #444;
}

/* ---------------------------------------------------- */
/*		Header
/* ---------------------------------------------------- */
/* line 132, ../sass/main.scss */
header {
  background-color: #ddd;
}
/* line 135, ../sass/main.scss */
header #header {
  min-height: 100px;
  position: relative;
  background: transparent url(../img/logo.png) left center no-repeat;
}
/* line 139, ../sass/main.scss */
header #header .panier {
  position: absolute;
  right: 20px;
  bottom: 10px;
  height: 50px;
  background: url(../img/panier.png) left center no-repeat;
}
/* line 145, ../sass/main.scss */
header #header .panier a {
  color: #444;
  text-decoration: none;
  font-size: .8em;
  text-shadow: 1px 1px 1px white;
  padding-left: 40px;
  line-height: 32px;
}
/* line 153, ../sass/main.scss */
header #header .panier a:hover {
  text-decoration: underline;
  color: #f2871c;
}
/* line 157, ../sass/main.scss */
header #header .panier span {
  display: block;
  font-size: .8em;
  text-align: right;
  color: #f2871c;
}

/* ---------------------------------------------------- */
/*		Menu
/* ---------------------------------------------------- */
/* line 169, ../sass/main.scss */
nav {
  background: #DDD;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  height: 30px;
}
/* line 174, ../sass/main.scss */
nav ul li {
  display: inline-block;
  margin: 0 10px;
  color: #444;
}
/* line 178, ../sass/main.scss */
nav ul li a {
  color: #444!important;
  text-decoration: none;
  font-size: .9em;
  display: block;
  padding: 5px 10px;
  text-shadow: 1px 1px 1px white;
}
/* line 185, ../sass/main.scss */
nav ul li a:hover {
  background: #444;
  color: #FFF!important;
  text-shadow: 1px 1px 1px black;
}
/* line 191, ../sass/main.scss */
nav ul li li {
  display: none;
}

/* ---------------------------------------------------- */
/*		la liste des produits
/* ---------------------------------------------------- */
/* line 203, ../sass/main.scss */
.main .produits {
  list-style: none;
  margin: 20px auto;
  padding: 0;
}
/* line 207, ../sass/main.scss */
.main .produits li {
  display: inline-block;
  position: relative;
  width: 167px;
  height: 220px;
  margin: 9px;
  background: #FFF;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
}
/* line 216, ../sass/main.scss */
.main .produits li a {
  text-decoration: none;
  color: #666;
}
/* line 220, ../sass/main.scss */
.main .produits li img {
  border: 0px;
  height: 167px;
}
/* line 224, ../sass/main.scss */
.main .produits li h4 {
  margin: 0;
  text-transform: uppercase;
  padding: 0 5px;
  font-size: .9em;
}
/* line 230, ../sass/main.scss */
.main .produits li div.prix {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: block;
  width: 107px;
  height: 28px;
  background: #DDD;
  text-align: right;
  color: #444;
  text-shadow: 1px 1px 1px white;
  padding-right: 10px;
  line-height: 28px;
  border-left: 1px solid #DDD;
}
/* line 245, ../sass/main.scss */
.main .produits li span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 28px;
  background: #DDD;
  text-align: center;
  border-right: 1px solid #CCC;
  text-shadow: 1px 1px 1px white;
}
/* line 256, ../sass/main.scss */
.main .produits li span a {
  display: block;
}
/* line 258, ../sass/main.scss */
.main .produits li span a:hover {
  color: #f2871c;
}
/* line 263, ../sass/main.scss */
.main .produits li:hover {
  -webkit-box-shadow: 0 1px 3px black;
  -moz-box-shadow: 0 1px 3px black;
  box-shadow: 0 1px 3px black;
}
/* line 270, ../sass/main.scss */
.main .col {
  width: 348px;
  border: 1px solid #ddd;
  margin: 10px;
  background: #FFF;
  padding: 10px;
  padding-left: 100px;
}
/* line 279, ../sass/main.scss */
.main .livraison {
  background: white url(../img/produits/livraison.png) 10px 10px no-repeat;
}
/* line 282, ../sass/main.scss */
.main .charte {
  background: white url(../img/produits/charte.png) 10px 10px no-repeat;
}

/* ---------------------------------------------------- */
/*		informations produit
/* ---------------------------------------------------- */
/* line 289, ../sass/main.scss */
.main ul.produit {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  margin-bottom: 40px;
}
/* line 294, ../sass/main.scss */
.main ul.produit li {
  float: left;
}
/* line 297, ../sass/main.scss */
.main ul.produit li.visuel {
  width: 320px;
  height: 320px;
  background: #FFF;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  text-align: center;
}
/* line 306, ../sass/main.scss */
.main ul.produit li.infos {
  width: 560px;
  padding: 0 20px;
}

/* line 314, ../sass/main.scss */
.main form#produit label {
  font-size: 0.8em;
  font-weight: bold;
}
/* line 318, ../sass/main.scss */
.main form#produit input[type="text"] {
  width: 30px;
  display: block;
  margin-bottom: 20px;
}
/* line 323, ../sass/main.scss */
.main form#produit input[type="submit"] {
  border: none;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  font-size: .8em;
  text-shadow: 1px 1px 1px #999999;
  text-decoration: none;
  padding: 5px 10px;
  padding-left: 40px;
  background: #f2871c url(../img/panierblanc.png) 5px center no-repeat;
  color: #FFF!important;
}
/* line 333, ../sass/main.scss */
.main form#produit input[type="submit"]:hover {
  color: #444!important;
  text-shadow: 1px 1px 1px white;
}

/* ---------------------------------------------------- */
/*		Fomulaire filtre
/* ---------------------------------------------------- */
/* line 343, ../sass/main.scss */
#filtre {
  position: absolute;
  top: -5px;
  right: 10px;
}
/* line 347, ../sass/main.scss */
#filtre input[type="submit"] {
  border: none;
  background: #ddd;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  color: #444!important;
  font-size: .6em;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
  padding: 4px 5px;
}
/* line 356, ../sass/main.scss */
#filtre input[type="submit"]:hover {
  color: #f2871c!important;
}
/* line 360, ../sass/main.scss */
#filtre select {
  display: inline-block;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  font-size: 0.6em;
  width: 200px;
  height: 30px;
  outline: none;
}

/* ---------------------------------------------------- */
/*		le panier
/* ---------------------------------------------------- */
/* line 373, ../sass/main.scss */
table {
  width: 100%;
}
/* line 376, ../sass/main.scss */
table thead th {
  height: 30px;
  background: #444;
  color: #FFF;
  font-size: .8em;
  font-weight: normal;
  width: 10%;
  border-right: 1px solid #CCC;
}
/* line 384, ../sass/main.scss */
table thead th:first-child, table thead th:last-child {
  border: none;
}
/* line 387, ../sass/main.scss */
table thead th.text {
  width: 40%;
}
/* line 394, ../sass/main.scss */
table tbody td {
  text-align: center;
  line-height: 50px;
  border-bottom: 1px dotted #999;
}
/* line 398, ../sass/main.scss */
table tbody td img {
  height: 60px;
  margin: 10px;
  border: 1px solid #DDD;
}
/* line 403, ../sass/main.scss */
table tbody td.text {
  text-align: left!important;
}
/* line 405, ../sass/main.scss */
table tbody td.text a {
  background: none;
  width: 100%;
  color: #444;
  text-decoration: none;
  padding: 0;
}
/* line 411, ../sass/main.scss */
table tbody td.text a:hover {
  text-decoration: underline;
  color: #f2871c;
}
/* line 417, ../sass/main.scss */
table tbody td a {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px;
  background: url(../img/sprite.png) 0 0 no-repeat;
}
.sync {
  background-position: -96px 0px;
}
.pdf {
  background-position: -80px 0px;
}
.email {
  background-position: -64px 0px;
}

/* line 429, ../sass/main.scss */
.edit {
  background-position: -16px 0px;
}

/* line 432, ../sass/main.scss */
.del ,.delete{
  background-position: 0 0;
}
.sync:hover {
  background-position: -96px -16px;
}
.pdf:hover {
  background-position: -80px -16px;
}
.email:hover {
  background-position: -64px -16px;
}
/* line 435, ../sass/main.scss */
.edit:hover {
  background-position: -16px -16px;
}

/* line 438, ../sass/main.scss */
.del:hover,.delete:hover {
  background-position: 0 -16px;
}

/* line 441, ../sass/main.scss */
.plus {
  background-position: -32px 0px;
}

/* line 444, ../sass/main.scss */
.moins {
  background-position: -48px 0px;
}

/* line 447, ../sass/main.scss */
.plus:hover {
  background-position: -32px -16px;
}

/* line 450, ../sass/main.scss */
.moins:hover {
  background-position: -48px -16px;
}

/* line 453, ../sass/main.scss */
.total {
  width: 350px;
  float: right;
  margin-bottom: 40px;
}
/* line 457, ../sass/main.scss */
.total p {
  position: relative;
  border-bottom: 1px solid #DDD;
  line-height: 40px;
}
/* line 461, ../sass/main.scss */
.total p em {
  position: absolute;
  top: 0;
  right: 0;
}

/* ---------------------------------------------------- */
/*		Login
/* ---------------------------------------------------- */
/* line 472, ../sass/main.scss */
#login {
  width: 300px;
  margin: 100px auto;
  background-color: #FFF;
  padding: 0 50px 50px;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* ---------------------------------------------------- */
/*		Signup
/* ---------------------------------------------------- */
/* line 483, ../sass/main.scss */
#signup {
  width: 600px;
  margin: 100px auto;
  background-color: #FFF;
  padding: 0 50px 50px;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* ---------------------------------------------------- */
/*		Page contact
/* ---------------------------------------------------- */
/* line 495, ../sass/main.scss */
form {
  margin: 20px;
}
/* line 497, ../sass/main.scss */
form label {
  display: block;
  font-weight: bold;
}
/* line 501, ../sass/main.scss */
form input[type='text'], form input[type='email'], form input[type='password'] {
  height: 25px;
  width: 250px;
  outline: none;
  color: #999;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 509, ../sass/main.scss */
form textarea {
  width: 80%;
  height: 250px;
  outline: none;
  color: #999;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 517, ../sass/main.scss */
form input[type='submit'] {
  border: none;
  background: #ddd;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  color: #444!important;
  font-size: .8em;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
  padding: 5px 10px;
}
/* line 526, ../sass/main.scss */
form input[type='submit']:hover {
  color: #f2871c!important;
}
/* line 530, ../sass/main.scss */
form fieldset {
  width: 278px;
  float: left;
  margin: 0 10px;
}

/* ---------------------------------------------------- */
/*		Paypal
/* ---------------------------------------------------- */
/* line 539, ../sass/main.scss */
#paypal input[type='submit'] {
  border: none;
  background: #f2871c;
  margin: 10px;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  color: #fff!important;
  font-size: .8em;
  text-shadow: 1px 1px 1px #999999;
  text-decoration: none;
  padding: 8px 20px;
  float: right;
}
/* line 550, ../sass/main.scss */
#paypal input[type='submit']:hover {
  color: #444!important;
  text-shadow: 1px 1px 1px white;
}

/* ---------------------------------------------------- */
/*		Pagination
/* ---------------------------------------------------- */
/* line 560, ../sass/main.scss */
.pagination {
  text-align: right;
}
/* line 562, ../sass/main.scss */
.pagination ul {
  margin: 20px auto;
  margin-right: 20px;
  list-style: none;
  padding: 0;
}
/* line 567, ../sass/main.scss */
.pagination ul li {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px #999999;
  -moz-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
}
/* line 574, ../sass/main.scss */
.pagination ul li a {
  display: block;
  text-decoration: none;
  line-height: 25px;
  color: #444!important;
  font-size: .8em;
  text-shadow: 1px 1px 1px white;
}
/* line 581, ../sass/main.scss */
.pagination ul li a:hover {
  color: #f2871c!important;
}
/* line 586, ../sass/main.scss */
.pagination ul li.active a {
  color: #f2871c!important;
}
.profil{
  margin:0!important;
}
/* ---------------------------------------------------- */
/*		Footer
/* ---------------------------------------------------- */
/* line 596, ../sass/main.scss */
footer {
  background-color: #ddd;
  height: 40px;
}
/* line 599, ../sass/main.scss */
footer p {
  font-size: .7em;
  line-height: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}
